<?php

return [
    'dkim' => [
        'params' => [
            'd' => 'example.com', // domain
            'h' => 'from:to:subject', // headers to sign
            's' => 'k1', // domain key selector
        ]
    ]
];